/* For loading_icon.html */
.loading-icon > * {
    display: none;
}

.loading-loading > .spinner-border {
    display: block;
}

.loading-error > .text-danger {
    display: block;
}

.loading-success > .text-success {
    display: block;
}

.loading-idle > .loading-default-icon {
    display: block;
}
/* End loading_icon.html */

/* For status indicator icons (media/preview_card.html) */
.status-indicator {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
/* End preview_card.html */

/* BS overrides */
/* For buttons in btn-groups which are just disabled icons. */
.btn-group-icon {
    flex-grow: 0 !important;
    min-width: 40px;
    opacity: 1 !important;
}

/* Align icons a little better with text. */
.bi {
    transform: translateY(-0.1em);
}

/* Fit colour inputs in input groups properly. */
.input-group input[type='color'] {
    height: 38px;
}

.input-group-sm input[type='color'] {
    height: 31px;
}

/* Add a gap between tabbed nav items */
.nav-item {
    padding-left: 0.5rem;
}

/* End BS overrides */
