/* For loading_icon.html */
.loading-icon > * {
    display: none;
}

.loading-loading > .spinner-border {
    display: block;
}

.loading-error > .text-danger {
    display: block;
}

.loading-success > .text-success {
    display: block;
}

.loading-idle > .loading-default-icon {
    display: block;
}
/* End loading_icon.html */

/* BS overrides */
/* For buttons in btn-groups which are just disabled icons. */
.btn-group-icon {
    flex-grow: 0 !important;
    min-width: 40px;
    opacity: 1 !important;
}

/* Align icons a little better with text. */
.bi {
    transform: translateY(-0.1em);
}

/* Align checkbox labels better with text. */
.form-check-label {
    transform: translateY(-0.1rem);
}

/* Remove ugly padding when in input group. */
.input-group .form-check {
    min-height: 0;
    padding-left: 0;
}

/* Remove unneeded padding when in input group. */
.input-group .form-check input[type='checkbox'] {
    margin: 0;
}

/* Fit colour inputs in input groups properly. */
.input-group input[type='color'] {
    height: 38px;
}

.input-group-sm input[type='color'] {
    height: 31px;
}

/* Add a gap between tabbed nav items */
.nav-item {
    padding-left: 0.5rem;
}

/* End BS overrides */
