.hover-text {
    background-color: var(--bs-body-bg);
    border: solid 1px var(--bs-body-color);
    border-radius: 0.25rem;
    color: var(--bs-body-color);
    padding: 0.25rem;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    user-select: none;
}